# API 및 웹 서버
fastapi==0.109.2
uvicorn==0.27.1
pydantic>=2.7.0

# Firebase
firebase-admin==6.4.0

# OpenAI
openai>=1.12.0

# LangChain (필요한 경우)
langchain>=0.3.24
langchain-core>=0.3.55
langchain-community>=0.3.22
langchain-openai>=0.3.14

# 유틸리티
python-dotenv==1.0.0

python-json-logger==2.0.7